body {
  background: linear-gradient(-45deg, #e6e3e3, #f0c9c9, #a6a6f3, #ffffff);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

em {
  font-size: 70px;
}

.col-md-3:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: scale(0.9);
}

.rel {
  margin: 0 auto;
  text-align: center;
}

.rel button {
  /* Paddings */
  padding: 10px;
  display: none;

  border: none;
  outline: none;
  background-color: #b4b4b4;
  color: #fff;
  border-radius: 10px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(10px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-10px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(10px, 0, 0);
  }
}

.apply-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
