body {
  background: linear-gradient(-45deg, #e6e3e3, #ed7b7b, #5f5fed, #ffffff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

em {
  font-size: 70px;
}

.col-md-3:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: scale(0.9);
}

.rel {
  margin: 0 auto;
  text-align: center;
}

.rel button {
  /* Paddings */
  padding: 10px;
  display: none;

  border: none;
  outline: none;
  background-color: #b4b4b4;
  color: #fff;
  border-radius: 10px;
}
